<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
        <% for(let i=0; i < dataCategory.length; i++) { %>
            <tr>
              <td><%= dataCategory[i].id %></td>
              <td><%= dataCategory[i].name %></td>
              <td>
                <button><a href="Deltail/category/<%= dataCategory[i].id %>">Detail</a></button>
                <form action="/editCategory/<%= dataCategory[i].id %>" method="get">
                    <button type="submit">Update</button>
                </form>
                <form action="/deleteCategory" method="post">
                  <input type="text" hidden value="<%= dataCategory[i].id %>" name ="categoryId" >
                  <button type="submit">Delete</button>
                </form>
              </td>
            </tr>
         <% } %>
    </tbody>
  </table>
  
  <form action="/addCategory" class="contact_form" method="post">
    <div class="">
        <label>Name</label>
        <input class="form-control" type="text" placeholder="Name*" name="name" >
    </div>
    <button type="submit" >Add</button>
</form>